#color-palette {
  display: block;
}

.color {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.black {
  background-color: black;  
}

.violet {
  background-color: blueviolet;
}

.lime {
  background-color: lime;
}

.red {
  background-color: red;
}

#pixel-board {
  display: inline-block;
  width: 210px;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
}

